// theme colors
$brand-primary: 					rgb(227,94,13);
$brand-secondary: 					white;

/*
 * nav colors
 */

$navbar-default-bg:					white;
$navbar-default-border:				$navbar-default-bg;

$navbar-default-link-color:			$brand-primary;

$navbar-default-link-active-color:	$brand-secondary;
$navbar-default-link-active-bg:		$brand-primary;
// same as above:
$navbar-default-link-hover-color:	$navbar-default-link-active-color;
$navbar-default-link-hover-bg:		$navbar-default-link-active-bg;

/***************/

// other colors
//$headings-small-color:				???;
$table-border-color:				$brand-primary;

// offset for .dl-horizontal
$component-offset-horizontal:		100px;

// change default path to fonts (glyphicon)
$icon-font-path: "fonts/bootstrap/";

