/* * * * * * * * * *
 *  helper classes *
 * * * * * * * * * */

%theme-coloring {
	background-color: $brand-secondary;
	color: $brand-primary;
	
	a, p, h1, h2, h3, h4, h5 {
		color: $brand-primary;
	}
	
	&--inverse {
		background-color: $brand-primary;
		color: $brand-secondary;
		
		a, p, h1, h2, h3, h4, h5 {
			color: $brand-secondary;
		}
	}
}