/*
 * Extension for Bootstrap class alert
 */

%theme-coloring {
	
	.alert {
		&-success {
			a, p, h1, h2, h3, h4, h5 {
				color: $alert-success-text;
			}
		}
		
		&-info {
			a, p, h1, h2, h3, h4, h5 {
				color: $alert-info-text;
			}
		}
		
		&-warning {
			a, p, h1, h2, h3, h4, h5 {
				color: $alert-warning-text;
			}
		}
		
		&-danger {
			a, p, h1, h2, h3, h4, h5 {
				color: $alert-danger-text;
			}
		}
	}
	
	&--inverse {
		.alert {
			&-success {
				a, p, h1, h2, h3, h4, h5 {
					color: $alert-success-text;
				}
			}
			
			&-info {
				a, p, h1, h2, h3, h4, h5 {
					color: $alert-info-text;
				}
			}
			
			&-warning {
				a, p, h1, h2, h3, h4, h5 {
					color: $alert-warning-text;
				}
			}
			
			&-danger {
				a, p, h1, h2, h3, h4, h5 {
					color: $alert-danger-text;
				}
			}
		}
	}
}

.alert {
	font-weight: bold;
}