/*
 * Extension for Bootstrap class page-header
 */

%theme-coloring {
	
	.page-header {
		border-bottom-color: $brand-primary;
	}
	
	&--inverse {
		.page-header {
			border-bottom-color: $brand-secondary;
		}
	}
}

.page-header {
	margin-top: 0;
}